<h1>Tasks#show</h1>
<div class="nav justify-content-end">
  <%= link_to '一覧', tasks_path, class: 'nav-link' %>
</div>
<table class="table table-hover">
  <tbody>
    <tr>
      <th><%= Task.human_attribute_name(:id) %></th>
      <td><%= @task.id %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:name) %></th>
      <td><%= @task.name %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:description) %></th>
      <td><%= simple_format(h(@task.description), {}, sanitize: false, wrapper_tag: "div") %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:created_at) %></th>
      <td><%= @task.created_at %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:updated_at) %></th>
      <td><%= @task.updated_at %></td>
    </tr>
  </tbody>
</table>
<%= link_to '編集', edit_task_path, class: 'btn btn-primary mr-3' %>
<%= link_to 'Delete',
            @task, method: :delete, data: {confirm: "タスク#{@task.name}を削除しますがよろしいですか?"},
            class: 'btn btn-danger' %>
